<!DOCTYPE html>
<html lang="en" style="background-image: url('../static/image/wallpaperflare.com_wallpaper.jpg'); background-attachment:fixed;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>News Bulletein</title>
</head>
<body>
    <div class="mb-10 top-1 w-screen flex flex-col justify-center items-center">
        <img src="../static/image/5.jpg" class="w-60 h-40" alt="Logo Image">
    </div>
    <div class="bottom-6 m-auto relative" id="container" style="width:614px; height:700px;">

        <img id="bg" src="" alt="bgImage" class="w-100 h-50">
        <span class="font-mono text-lg absolute text-white whitespace-pre-line text-justify" id="News" style="width: 550px; top:100px; left:30px; line-height:2em;">{{News|safe}}</span>
    </div>
    <div id="canvasWrapper" class="object-none object-right-bottom">
        <button class="text-white p-3 rounded-md font-sans text-xl bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500" onclick="download();">Download Post</button>
    </div>
    <script>
        var newbg = document.getElementById("bg");
        var background = new Image();
        background.src = "static/image/" + (Math.floor(Math.random()*(3))+1) + ".jpg";
        newbg.src = background.src;
    </script>
    <script src="/static/js/h2c.min.js"></script>
    <script>
        function download() {
            html2canvas(document.getElementById("container"), {height:700, width:614}).then(canvas =>
            {var a= document.createElement('a'); 
            a.href = canvas.toDataURL("image/jpeg").replace("image/jpeg", "image/octet-stream"); 
            a.download = 'somefilename.jpg'; 
            a.click();
        });
        }
    </script>  
</body>
</html>


